{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<style>
body{
	background-color:#F0F0F0;
}
</style>
{% endblock %}

{% block content %}
<a id="agregar-amigo" class="btn-floating btn-large waves-effect waves-light btn_add hoverable"><i class="material-icons">search</i></a>


<div class="row">
	<div class="col s12">

		<div class="card">
            <div class="card-image">
              <img src="{% static 'img/Evento-1.jpg' %}">
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec ex non lacus elementum faucibus. Vestibulum tincidunt libero diam. Sed a pulvinar arcu. Maecenas sit amet pretium ligula, et tristique diam. Mauris sed erat a ligula imperdiet dictum.</p>
            </div>
            <div class="card-action">
              <a href="#" class="color-principal">Más información</a>
            </div>
          </div>


          <div class="card">
            <div class="card-image">
              <img src="{% static 'img/Evento-2.jpg' %}">
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec ex non lacus elementum faucibus. Vestibulum tincidunt libero diam. Sed a pulvinar arcu. Maecenas sit amet pretium ligula, et tristique diam. Mauris sed erat a ligula imperdiet dictum.</p>
            </div>
            <div class="card-action">
              <a href="#" class="color-principal">Más información</a>
            </div>
          </div>


          <div class="card">
            <div class="card-image">
              <img src="{% static 'img/Evento-3.jpg' %}">
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec ex non lacus elementum faucibus. Vestibulum tincidunt libero diam. Sed a pulvinar arcu. Maecenas sit amet pretium ligula, et tristique diam. Mauris sed erat a ligula imperdiet dictum.</p>
            </div>
            <div class="card-action">
              <a href="#" class="color-principal">Más información</a>
            </div>
          </div>

          <div class="card">
            <div class="card-image">
              <img src="{% static 'img/Evento-4.jpg' %}">
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec ex non lacus elementum faucibus. Vestibulum tincidunt libero diam. Sed a pulvinar arcu. Maecenas sit amet pretium ligula, et tristique diam. Mauris sed erat a ligula imperdiet dictum.</p>
            </div>
            <div class="card-action">
              <a href="#" class="color-principal">Más información</a>
            </div>
          </div>


          <div class="card">
            <div class="card-image">
              <img src="{% static 'img/Evento-5.jpg' %}">
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec ex non lacus elementum faucibus. Vestibulum tincidunt libero diam. Sed a pulvinar arcu. Maecenas sit amet pretium ligula, et tristique diam. Mauris sed erat a ligula imperdiet dictum.</p>
            </div>
            <div class="card-action">
              <a href="#" class="color-principal">Más información</a>
            </div>
          </div>


          <div class="card">
            <div class="card-image">
              <img src="{% static 'img/Evento-6.jpg' %}">
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec ex non lacus elementum faucibus. Vestibulum tincidunt libero diam. Sed a pulvinar arcu. Maecenas sit amet pretium ligula, et tristique diam. Mauris sed erat a ligula imperdiet dictum.</p>
            </div>
            <div class="card-action">
              <a href="#" class="color-principal">Más información</a>
            </div>
          </div>



	</div>

</div>
{% endblock%}