{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<style>
body{
	background-color:#F0F0F0;
}
</style>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col s4">
		<div class="card hoverable" id="in-1">
			<div class="card-content center">
				<i class="material-icons aux_2">games</i>
				<br><span>Nombre</span>
				<br><span class="gris">50%</span>
			</div>
		</div>
	</div>
	<div class="col s4">
		<div class="card hoverable" id="in-2">
			<div class="card-content center">
				<i class="material-icons aux_2">trending_up</i>
				<br><span>Nombre</span>
				<br><span class="gris">88%</span>
			</div>
		</div>
	</div>
	<div class="col s4">
		<div class="card hoverable" id="in-3">
			<div class="card-content center">
				<i class="material-icons aux_2">settings_input_antenna</i>
				<br><span>Nombre</span>
				<br><span class="gris">25%</span>
			</div>
		</div>
	</div>
	<div class="col s4">
		<div class="card hoverable" id="in-4">
			<div class="card-content center">
				<i class="material-icons aux_2">search</i>
				<br><span>Nombre</span>
				<br><span class="gris">21%</span>
			</div>
		</div>
	</div>
	<div class="col s4">
		<div class="card hoverable" id="in-5">
			<div class="card-content center">
				<i class="material-icons aux_2">visibility</i>
				<br><span>Nombre</span>
				<br><span class="gris">77%</span>
			</div>
		</div>
	</div>
	<div class="col s4">
		<div class="card hoverable" id="in-6">
			<div class="card-content center">
				<i class="material-icons aux_2">done</i>
				<br><span>Nombre</span>
				<br><span class="gris">63%</span>
			</div>
		</div>
	</div>
	<div class="col s4">
		<div class="card hoverable" id="in-7">
			<div class="card-content center">
				<i class="material-icons aux_2">announcement</i>
				<br><span>Nombre</span>
				<br><span class="gris">90%</span>
			</div>
		</div>
	</div>
	<div class="col s4">
		<div class="card hoverable" id="in-8">
			<div class="card-content center">
				<i class="material-icons aux_2">work</i>
				<br><span>Nombre</span>
				<br><span class="gris">50%</span>
			</div>
		</div>
	</div>
	<div class="col s4">
		<div class="card hoverable" id="in-9">
			<div class="card-content center">
				<i class="material-icons aux_2">redeem</i>
				<br><span>Nombre</span>
				<br><span class="gris">43%</span>
			</div>
		</div>
	</div>
	<div class="col s4">
		<div class="card hoverable" id="in-10">
			<div class="card-content center">
				<i class="material-icons aux_2">room</i>
				<br><span>Nombre</span>
				<br><span class="gris">60%</span>
			</div>
		</div>
	</div>
	<div class="col s4">
		<div class="card hoverable" id="in-11">
			<div class="card-content center">
				<i class="material-icons aux_2">schedule</i>
				<br><span>Nombre</span>
				<br><span class="gris">50%</span>
			</div>
		</div>
	</div>
	<div class="col s4">
		<div class="card hoverable" id="in-12">
			<div class="card-content center">
				<i class="material-icons aux_2">movie</i>
				<br><span>Nombre</span>
				<br><span class="gris">20%</span>
			</div>
		</div>
	</div>
	<div class="col s4">
		<div class="card hoverable" id="in-13">
			<div class="card-content center">
				<i class="material-icons aux_2">navigation</i>
				<br><span>Nombre</span>
				<br><span class="gris">10%</span>
			</div>
		</div>
	</div>
	<div class="col s4">
		<div class="card hoverable" id="in-14">
			<div class="card-content center">
				<i class="material-icons aux_2">android</i>
				<br><span>Nombre</span>
				<br><span class="gris">100%</span>
			</div>
		</div>
	</div>


</div>
{% endblock%}