{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<style>
body{
	background-color:#F0F0F0;
}
</style>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col s12">
		<div class="card ">
			<div class="card-content">
				<span class="card-title">Preguntas frecuentes</span>

				 <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><strong>¿Cómo puedo unirme a un grupo en la comunidad ecora?</strong></div>
      <div class="collapsible-body"><span>Busca el código del grupo al que quieres pertenecer e ingrésalo en el botón de agregar.</span></div>
    </li>

<li>
      <div class="collapsible-header"><strong>¿Qué es un öko?</strong></div>
      <div class="collapsible-body"><span>Los ökos son puntos de experiencia que te permiten subir de nivel y conseguir insignias.</span></div>
    </li>


    <li>
      <div class="collapsible-header"><strong>¿Cómo puedo conseguir ökos?</strong></div>
      <div class="collapsible-body"><span>Los ökos se obtienen al visitar cualquier centro de recolección y pulsar el botón de nuestra aplicación.</span></div>
    </li>

    <li>
      <div class="collapsible-header"><strong>¿Tiene algún costo ocupar la aplicación?</strong></div>
      <div class="collapsible-body"><span>El uso de la aplicación es libre y gratuito para todos aquellos usuarios que buscan encontrar un centro de reciclaje.</span></div>
    </li>
    
    <li>
      <div class="collapsible-header"><strong>Si soy recolector, ¿cómo puedo formar parte de la red ecora?</strong></div>
      <div class="collapsible-body"><span>Mandando un correo a recolectoras@ecora.mx y nos pondremos en contacto contigo.</span></div>
    </li>

     <li>
      <div class="collapsible-header"><strong>¿Cómo puedo subir de nivel?</strong></div>
      <div class="collapsible-body"><span>Mientras más contribuyas con el medio ambiente visitando los centros de recolección más ökos podrás ganar, mismos que te ayudarán a subir de nivel.M</span></div>
    </li>


  </ul>

			</div>
		</div>

	</div>

</div>
{% endblock%}